<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>master_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,98},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,98},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,98},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,98},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,98},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,195},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,195},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,195},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>master_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,292},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>master.png</string>
            <key>size</key>
            <string>{389,389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:920601d2a1f4f475a542de12160a62ea:d9ed0373115617fa9f3edbf7a94c89a2:552dd7f595df33b2cd73a42f9fda294b$</string>
            <key>textureFileName</key>
            <string>master.png</string>
        </dict>
    </dict>
</plist>
